In [1]:
import pandas as pd

In [2]:
players = pd.read_csv('Data/cfbstats-com-2009/player.csv')

players.head()

,Player Code,Team Code,Last Name,First Name,Uniform Number,Class,Position,Height,Weight,Home Town,Home State,Home Country,Last School
0,1022870,5,Alexander,Bill,46,FR,DB,70.0,165.0,Whingham,GA,US,George Washington Carver HS
1,1022862,5,Alexander,Broderick,22,FR,RB,74.0,215.0,Covington,GA,US,Eastside HS
2,85455,5,Allen,Alex,10,SR,RB,72.0,205.0,Youngstown,OH,US,Ursuline HS
3,1007928,5,Anderson,Jake,73,SO,OL,77.0,305.0,Erie,PA,US,McDowell HS
4,85458,5,Anderson,Zack,78,SR,OL,76.0,310.0,Lester,PA,US,Interboro HS

In [3]:
players.drop(columns=['Uniform Number', 'Class', 'Position', 'Height', 'Weight', 
                      'Home Town', 'Home State', 'Home Country', 'Last School'], 
             axis=1, 
             inplace=True)

players.head()

   Player Code  Team Code  Last Name First Name
0      1022870          5  Alexander       Bill
1      1022862          5  Alexander  Broderick
2        85455          5      Allen       Alex
3      1007928          5   Anderson       Jake
4        85458          5   Anderson       Zack

In [38]:
player_stats = pd.read_csv('Data/cfbstats-com-2009/player-game-statistics.csv')

player_stats.head()

,Player Code,Game Code,Rush Att,Rush Yard,Rush TD,Pass Att,Pass Comp,Pass Yard,Pass TD,Pass Int,...,Tackle Solo,Tackle Assist,Tackle For Loss,Tackle For Loss Yard,Sack,Sack Yard,QB Hurry,Fumble Forced,Pass Broken Up,Kick/Punt Blocked
0,1022862,5050320091031,19,48,0,0,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
1,1022862,331000520091107,13,42,0,0,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
2,1022862,690000520091113,4,8,0,0,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
3,1022862,5007120091120,13,46,0,0,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
4,1022862,204000520091127,10,54,0,0,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0

In [39]:
player_stats.drop(columns='Game Code', axis=1, inplace=True)

In [40]:
player_stats = player_stats.groupby('Player Code').sum()

player_stats.head()

,Rush Att,Rush Yard,Rush TD,Pass Att,Pass Comp,Pass Yard,Pass TD,Pass Int,Pass Conv,Rec,...,Tackle Solo,Tackle Assist,Tackle For Loss,Tackle For Loss Yard,Sack,Sack Yard,QB Hurry,Fumble Forced,Pass Broken Up,Kick/Punt Blocked
Player Code,,,,,,,,,,,,,,,,,,,,,
4,0,0,0,0,0,0,0,0,0,26,...,1,0,0.0,0,0.0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,1,...,0,0,0.0,0,0.0,0,0,0,0,0
54,0,0,0,0,0,0,0,0,0,0,...,1,0,0.0,0,0.0,0,0,0,0,0
72,0,0,0,0,0,0,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
116,0,0,0,0,0,0,0,0,0,4,...,0,0,0.0,0,0.0,0,0,0,0,0

In [41]:
team = pd.read_csv('Data/cfbstats-com-2009/team.csv')

team.head()

   Team Code           Name  Conference Code
0          5          Akron              875
1          8        Alabama              911
2          9            UAB            24312
3         28  Arizona State              905
4         29        Arizona              905

In [42]:
new_players = pd.merge(players, player_stats, on='Player Code')

new_players.head()

,Player Code,Team Code,Last Name,First Name,Rush Att,Rush Yard,Rush TD,Pass Att,Pass Comp,Pass Yard,...,Tackle Solo,Tackle Assist,Tackle For Loss,Tackle For Loss Yard,Sack,Sack Yard,QB Hurry,Fumble Forced,Pass Broken Up,Kick/Punt Blocked
0,1022862,5,Alexander,Broderick,59,198,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
1,85455,5,Allen,Alex,59,188,5,1,1,80,...,0,0,0.0,0,0.0,0,0,0,0,0
2,1007928,5,Anderson,Jake,0,0,0,0,0,0,...,1,0,0.0,0,0.0,0,0,0,0,0
3,85458,5,Anderson,Zack,0,0,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
4,85459,5,Balaam,Al-Teric,0,0,0,0,0,0,...,0,1,0.0,0,0.0,0,0,0,0,0

In [43]:
new_players = pd.merge(new_players, team, on='Team Code')

new_players.head()

,Player Code,Team Code,Last Name,First Name,Rush Att,Rush Yard,Rush TD,Pass Att,Pass Comp,Pass Yard,...,Tackle For Loss,Tackle For Loss Yard,Sack,Sack Yard,QB Hurry,Fumble Forced,Pass Broken Up,Kick/Punt Blocked,Name,Conference Code
0,1022862,5,Alexander,Broderick,59,198,0,0,0,0,...,0.0,0,0.0,0,0,0,0,0,Akron,875
1,85455,5,Allen,Alex,59,188,5,1,1,80,...,0.0,0,0.0,0,0,0,0,0,Akron,875
2,1007928,5,Anderson,Jake,0,0,0,0,0,0,...,0.0,0,0.0,0,0,0,0,0,Akron,875
3,85458,5,Anderson,Zack,0,0,0,0,0,0,...,0.0,0,0.0,0,0,0,0,0,Akron,875
4,85459,5,Balaam,Al-Teric,0,0,0,0,0,0,...,0.0,0,0.0,0,0,0,0,0,Akron,875

In [44]:
new_players.drop(columns=['Player Code', 'Team Code', 'Conference Code'], axis=1, inplace=True)

new_players.head()

,Last Name,First Name,Rush Att,Rush Yard,Rush TD,Pass Att,Pass Comp,Pass Yard,Pass TD,Pass Int,...,Tackle Assist,Tackle For Loss,Tackle For Loss Yard,Sack,Sack Yard,QB Hurry,Fumble Forced,Pass Broken Up,Kick/Punt Blocked,Name
0,Alexander,Broderick,59,198,0,0,0,0,0,0,...,0,0.0,0,0.0,0,0,0,0,0,Akron
1,Allen,Alex,59,188,5,1,1,80,1,0,...,0,0.0,0,0.0,0,0,0,0,0,Akron
2,Anderson,Jake,0,0,0,0,0,0,0,0,...,0,0.0,0,0.0,0,0,0,0,0,Akron
3,Anderson,Zack,0,0,0,0,0,0,0,0,...,0,0.0,0,0.0,0,0,0,0,0,Akron
4,Balaam,Al-Teric,0,0,0,0,0,0,0,0,...,1,0.0,0,0.0,0,0,0,0,0,Akron

In [82]:
combine = pd.read_csv('Data/NFL.csv')

combine.head()

,Year,Player,Age,School,Height,Weight,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle,Drafted..tm.rnd.yr.,BMI,Player_Type,Position_Type,Position,Drafted
0,2009,Beanie Wells\WellCh00,20.0,Ohio St.,1.8542,106.594207,4.38,85.09,25.0,325.12,NaN,NaN,Arizona Cardinals / 1st / 31st pick / 2009,31.004194,offense,backs_receivers,RB,Yes
1,2009,Will Davis\DaviWi99,22.0,Illinois,1.8796,118.387609,4.84,83.82,27.0,292.10,7.38,4.45,Arizona Cardinals / 6th / 204th pick / 2009,33.510073,defense,defensive_lineman,DE,Yes
2,2009,Herman Johnson\JohnHe23,24.0,LSU,2.0066,165.107623,5.50,NaN,21.0,NaN,NaN,NaN,Arizona Cardinals / 5th / 167th pick / 2009,41.005821,offense,offensive_lineman,OG,Yes
3,2009,Rashad Johnson\JohnRa98,23.0,Alabama,1.8034,92.079251,4.49,93.98,15.0,304.80,7.09,4.23,Arizona Cardinals / 3rd / 95th pick / 2009,28.312463,defense,defensive_back,FS,Yes
4,2009,Cody Brown\BrowCo96,22.0,Connecticut,1.8796,110.676538,4.76,92.71,26.0,304.80,7.10,4.40,Arizona Cardinals / 2nd / 63rd pick / 2009,31.327425,defense,line_backer,OLB,Yes

In [83]:
combine['Player'] = combine['Player'].str.split('\\', expand=True)

combine.head()

,Year,Player,Age,School,Height,Weight,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle,Drafted..tm.rnd.yr.,BMI,Player_Type,Position_Type,Position,Drafted
0,2009,Beanie Wells,20.0,Ohio St.,1.8542,106.594207,4.38,85.09,25.0,325.12,NaN,NaN,Arizona Cardinals / 1st / 31st pick / 2009,31.004194,offense,backs_receivers,RB,Yes
1,2009,Will Davis,22.0,Illinois,1.8796,118.387609,4.84,83.82,27.0,292.10,7.38,4.45,Arizona Cardinals / 6th / 204th pick / 2009,33.510073,defense,defensive_lineman,DE,Yes
2,2009,Herman Johnson,24.0,LSU,2.0066,165.107623,5.50,NaN,21.0,NaN,NaN,NaN,Arizona Cardinals / 5th / 167th pick / 2009,41.005821,offense,offensive_lineman,OG,Yes
3,2009,Rashad Johnson,23.0,Alabama,1.8034,92.079251,4.49,93.98,15.0,304.80,7.09,4.23,Arizona Cardinals / 3rd / 95th pick / 2009,28.312463,defense,defensive_back,FS,Yes
4,2009,Cody Brown,22.0,Connecticut,1.8796,110.676538,4.76,92.71,26.0,304.80,7.10,4.40,Arizona Cardinals / 2nd / 63rd pick / 2009,31.327425,defense,line_backer,OLB,Yes

In [86]:
combine['Last_Name'] = combine['Player'].str.split(' ', expand=True)[1]

combine.head()

,Year,Player,Age,School,Height,Weight,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle,Drafted..tm.rnd.yr.,BMI,Player_Type,Position_Type,Position,Drafted,Last Name,Last_Name
0,2009,Beanie Wells,20.0,Ohio St.,1.8542,106.594207,4.38,85.09,25.0,325.12,NaN,NaN,Arizona Cardinals / 1st / 31st pick / 2009,31.004194,offense,backs_receivers,RB,Yes,Wells,Wells
1,2009,Will Davis,22.0,Illinois,1.8796,118.387609,4.84,83.82,27.0,292.10,7.38,4.45,Arizona Cardinals / 6th / 204th pick / 2009,33.510073,defense,defensive_lineman,DE,Yes,Davis,Davis
2,2009,Herman Johnson,24.0,LSU,2.0066,165.107623,5.50,NaN,21.0,NaN,NaN,NaN,Arizona Cardinals / 5th / 167th pick / 2009,41.005821,offense,offensive_lineman,OG,Yes,Johnson,Johnson
3,2009,Rashad Johnson,23.0,Alabama,1.8034,92.079251,4.49,93.98,15.0,304.80,7.09,4.23,Arizona Cardinals / 3rd / 95th pick / 2009,28.312463,defense,defensive_back,FS,Yes,Johnson,Johnson
4,2009,Cody Brown,22.0,Connecticut,1.8796,110.676538,4.76,92.71,26.0,304.80,7.10,4.40,Arizona Cardinals / 2nd / 63rd pick / 2009,31.327425,defense,line_backer,OLB,Yes,Brown,Brown

In [87]:
new_players

,Last Name,First Name,Rush Att,Rush Yard,Rush TD,Pass Att,Pass Comp,Pass Yard,Pass TD,Pass Int,...,Tackle Assist,Tackle For Loss,Tackle For Loss Yard,Sack,Sack Yard,QB Hurry,Fumble Forced,Pass Broken Up,Kick/Punt Blocked,Name
0,Alexander,Broderick,59,198,0,0,0,0,0,0,...,0,0.0,0,0.0,0,0,0,0,0,Akron
1,Allen,Alex,59,188,5,1,1,80,1,0,...,0,0.0,0,0.0,0,0,0,0,0,Akron
2,Anderson,Jake,0,0,0,0,0,0,0,0,...,0,0.0,0,0.0,0,0,0,0,0,Akron
3,Anderson,Zack,0,0,0,0,0,0,0,0,...,0,0.0,0,0.0,0,0,0,0,0,Akron
4,Balaam,Al-Teric,0,0,0,0,0,0,0,0,...,1,0.0,0,0.0,0,0,0,0,0,Akron
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10472,Williams,Rob,0,0,0,0,0,0,0,0,...,1,0.5,2,0.0,0,0,0,0,0,Wofford
10473,Williamson,Anthony,0,0,0,0,0,0,0,0,...,2,0.5,1,0.0,0,0,0,0,0,Wofford
10474,Wright,Josh,0,0,0,0,0,0,0,0,...,1,0.0,0,0.0,0,0,0,0,0,Wofford
10475,Wylie,Blake,0,0,0,0,0,0,0,0,...,4,0.0,0,0.0,0,0,0,0,0,Wofford
10476,Youman,Bryan,1,2,0,0,0,0,0,0,...,0,0.0,0,0.0,0,0,0,0,0,Wofford

In [89]:
final = pd.merge(new_players, combine, left_on=['Last Name', 'Name'], right_on=['Last_Name', 'School'])

final.head()

,Last Name_x,First Name,Rush Att,Rush Yard,Rush TD,Pass Att,Pass Comp,Pass Yard,Pass TD,Pass Int,...,Agility_3cone,Shuttle,Drafted..tm.rnd.yr.,BMI,Player_Type,Position_Type,Position,Drafted,Last Name_y,Last_Name
0,Jones,Andre,6,34,1,1,0,0,0,0,...,7.73,4.65,San Francisco 49ers / 6th / 198th pick / 2017,42.086545,defense,defensive_lineman,DT,Yes,Jones,Jones
1,Jones,Antoine,0,0,0,0,0,0,0,0,...,7.73,4.65,San Francisco 49ers / 6th / 198th pick / 2017,42.086545,defense,defensive_lineman,DT,Yes,Jones,Jones
2,Arenas,Javier,0,0,0,0,0,0,0,0,...,NaN,NaN,Kansas City Chiefs / 2nd / 50th pick / 2010,29.091516,defense,defensive_back,CB,Yes,Arenas,Arenas
3,Barron,Mark,0,0,0,0,0,0,0,0,...,NaN,NaN,Tampa Bay Buccaneers / 1st / 7th pick / 2012,28.101674,defense,defensive_back,SS,Yes,Barron,Barron
4,Carpenter,James,0,0,0,0,0,0,0,0,...,NaN,NaN,Seattle Seahawks / 1st / 25th pick / 2011,39.072946,offense,offensive_lineman,OT,Yes,Carpenter,Carpenter

In [91]:
final.columns

Index(['Last Name_x', 'First Name', 'Rush Att', 'Rush Yard', 'Rush TD',
       'Pass Att', 'Pass Comp', 'Pass Yard', 'Pass TD', 'Pass Int',
       'Pass Conv', 'Rec', 'Rec Yards', 'Rec TD', 'Kickoff Ret',
       'Kickoff Ret Yard', 'Kickoff Ret TD', 'Punt Ret', 'Punt Ret Yard',
       'Punt Ret TD', 'Fum Ret', 'Fum Ret Yard', 'Fum Ret TD', 'Int Ret',
       'Int Ret Yard', 'Int Ret TD', 'Misc Ret', 'Misc Ret Yard',
       'Misc Ret TD', 'Field Goal Att', 'Field Goal Made', 'Off XP Kick Att',
       'Off XP Kick Made', 'Off 2XP Att', 'Off 2XP Made', 'Def 2XP Att',
       'Def 2XP Made', 'Safety', 'Points', 'Punt', 'Punt Yard', 'Kickoff',
       'Kickoff Yard', 'Kickoff Touchback', 'Kickoff Out-Of-Bounds',
       'Kickoff Onside', 'Fumble', 'Fumble Lost', 'Tackle Solo',
       'Tackle Assist', 'Tackle For Loss', 'Tackle For Loss Yard', 'Sack',
       'Sack Yard', 'QB Hurry', 'Fumble Forced', 'Pass Broken Up',
       'Kick/Punt Blocked', 'Name', 'Year', 'Player', 'Age', 'School',
       'Height', 'Weight', 'Sprint_40yd', 'Vertical_Jump', 'Bench_Press_Reps',
       'Broad_Jump', 'Agility_3cone', 'Shuttle', 'Drafted..tm.rnd.yr.', 'BMI',
       'Player_Type', 'Position_Type', 'Position', 'Drafted', 'Last Name_y',
       'Last_Name'],
      dtype='object')

In [93]:
final.shape

(1198, 79)