In [45]:
import pandas as pd

In [46]:
players = pd.read_csv('Data/cfbstats-com-2009/player.csv')

players.head()

,Player Code,Team Code,Last Name,First Name,Uniform Number,Class,Position,Height,Weight,Home Town,Home State,Home Country,Last School
0,1022870,5,Alexander,Bill,46,FR,DB,70.0,165.0,Whingham,GA,US,George Washington Carver HS
1,1022862,5,Alexander,Broderick,22,FR,RB,74.0,215.0,Covington,GA,US,Eastside HS
2,85455,5,Allen,Alex,10,SR,RB,72.0,205.0,Youngstown,OH,US,Ursuline HS
3,1007928,5,Anderson,Jake,73,SO,OL,77.0,305.0,Erie,PA,US,McDowell HS
4,85458,5,Anderson,Zack,78,SR,OL,76.0,310.0,Lester,PA,US,Interboro HS

In [47]:
players.drop(columns=['Uniform Number', 'Class', 'Position', 'Height', 'Weight', 'Home Town', 'Home State', 'Home Country', 'Last School'], axis=1, inplace=True)

players.head()

   Player Code  Team Code  Last Name First Name
0      1022870          5  Alexander       Bill
1      1022862          5  Alexander  Broderick
2        85455          5      Allen       Alex
3      1007928          5   Anderson       Jake
4        85458          5   Anderson       Zack

In [48]:
player_stats = pd.read_csv('Data/cfbstats-com-2009/player-game-statistics.csv')

player_stats.head()

,Player Code,Game Code,Rush Att,Rush Yard,Rush TD,Pass Att,Pass Comp,Pass Yard,Pass TD,Pass Int,...,Tackle Solo,Tackle Assist,Tackle For Loss,Tackle For Loss Yard,Sack,Sack Yard,QB Hurry,Fumble Forced,Pass Broken Up,Kick/Punt Blocked
0,1022862,5050320091031,19,48,0,0,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
1,1022862,331000520091107,13,42,0,0,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
2,1022862,690000520091113,4,8,0,0,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
3,1022862,5007120091120,13,46,0,0,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
4,1022862,204000520091127,10,54,0,0,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0

In [49]:
player_stats.groupby('Player Code')

In [50]:
player_stats.drop(columns='Game Code', axis=1, inplace=True)

In [51]:
team = pd.read_csv('Data/cfbstats-com-2009/team.csv')

team.head()

   Team Code           Name  Conference Code
0          5          Akron              875
1          8        Alabama              911
2          9            UAB            24312
3         28  Arizona State              905
4         29        Arizona              905

In [52]:
new_players = pd.merge(players, player_stats, on='Player Code')

new_players.head()

,Player Code,Team Code,Last Name,First Name,Rush Att,Rush Yard,Rush TD,Pass Att,Pass Comp,Pass Yard,...,Tackle Solo,Tackle Assist,Tackle For Loss,Tackle For Loss Yard,Sack,Sack Yard,QB Hurry,Fumble Forced,Pass Broken Up,Kick/Punt Blocked
0,1022862,5,Alexander,Broderick,19,48,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
1,1022862,5,Alexander,Broderick,13,42,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
2,1022862,5,Alexander,Broderick,4,8,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
3,1022862,5,Alexander,Broderick,13,46,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
4,1022862,5,Alexander,Broderick,10,54,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0

In [53]:
np = new_players.groupby(by='Player Code')

In [54]:
np.columns

AttributeError: 'DataFrameGroupBy' object has no attribute 'columns'

In [30]:
new_players

,Player Code,Team Code,Last Name,First Name,Rush Att,Rush Yard,Rush TD,Pass Att,Pass Comp,Pass Yard,...,Tackle Solo,Tackle Assist,Tackle For Loss,Tackle For Loss Yard,Sack,Sack Yard,QB Hurry,Fumble Forced,Pass Broken Up,Kick/Punt Blocked
0,1022862,5,Alexander,Broderick,19,48,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
1,1022862,5,Alexander,Broderick,13,42,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
2,1022862,5,Alexander,Broderick,4,8,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
3,1022862,5,Alexander,Broderick,13,46,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
4,1022862,5,Alexander,Broderick,10,54,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56910,1028890,2915,Williamson,Anthony,0,0,0,0,0,0,...,0,1,0.5,1,0.0,0,0,0,0,0
56911,1028885,2915,Wright,Josh,0,0,0,0,0,0,...,0,1,0.0,0,0.0,0,0,0,0,0
56912,1028873,2915,Wylie,Blake,0,0,0,0,0,0,...,0,3,0.0,0,0.0,0,0,0,0,0
56913,1028873,2915,Wylie,Blake,0,0,0,0,0,0,...,1,1,0.0,0,0.0,0,0,0,0,0
56914,1022543,2915,Youman,Bryan,1,2,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0

In [12]:
combine = pd.read_csv('Data/NFL.csv')

combine.head()

,Year,Player,Age,School,Height,Weight,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle,Drafted..tm.rnd.yr.,BMI,Player_Type,Position_Type,Position,Drafted
0,2009,Beanie Wells\WellCh00,20.0,Ohio St.,1.8542,106.594207,4.38,85.09,25.0,325.12,NaN,NaN,Arizona Cardinals / 1st / 31st pick / 2009,31.004194,offense,backs_receivers,RB,Yes
1,2009,Will Davis\DaviWi99,22.0,Illinois,1.8796,118.387609,4.84,83.82,27.0,292.10,7.38,4.45,Arizona Cardinals / 6th / 204th pick / 2009,33.510073,defense,defensive_lineman,DE,Yes
2,2009,Herman Johnson\JohnHe23,24.0,LSU,2.0066,165.107623,5.50,NaN,21.0,NaN,NaN,NaN,Arizona Cardinals / 5th / 167th pick / 2009,41.005821,offense,offensive_lineman,OG,Yes
3,2009,Rashad Johnson\JohnRa98,23.0,Alabama,1.8034,92.079251,4.49,93.98,15.0,304.80,7.09,4.23,Arizona Cardinals / 3rd / 95th pick / 2009,28.312463,defense,defensive_back,FS,Yes
4,2009,Cody Brown\BrowCo96,22.0,Connecticut,1.8796,110.676538,4.76,92.71,26.0,304.80,7.10,4.40,Arizona Cardinals / 2nd / 63rd pick / 2009,31.327425,defense,line_backer,OLB,Yes